
<div class="row"> 
 <div class="well" style="overflow: hidden; margin-left: 19px; width:">
  <pubtit>{{ publi.title }}</pubtit>
  {% if page.url == "/funk" %}<p style="margin: 5px 0px 0px 0px;">{% endif; %}<a style="padding: 0px 0px 0px 0px; text-decoration: none;" target="_blank" href="../media/{{ publi.link.url }}"><img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}" class="img-responsive" width="90%" style="float: center; {% if page.url == "/funk" %}padding: 7px 10px 0px 0px;{% endif; %}" />{% if page.url == "/funk" %}</p>{% endif; %}</a>
  <p>{{ publi.description }}</p>
  <p><a style="background: url({{ site.url }}{{ site.baseurl }}/images/icons/pdf_icon.png) no-repeat left center; text-decoration: none; padding-left: 20px;" target="_blank" href="../media/{{ publi.link.url }}">[PDF]</a>&nbsp;{{ publi.authors }} {{ publi.link.display }}</p>
  <p class="text-danger"><strong> {{ publi.news1 }}</strong></p>
  <p> {{ publi.news2 }}</p>
</div>
</div>
